<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a  class="item"
        *ngFor="let element of menubar">{{element.name}}
      </a>
    </div>
  </div>
</div>
<div class="ui grid">
  <div class="row">
    <div class="column">
      <div class="ui huge message page grid center aligned">
        <select class="ui search dropdown">
          <option value="">State</option>
          <option value="AL">Alabama</option>
        </select>
        <div class="ui left icon action input">
          <input type="text" placeholder="Order #">
          <div class="ui blue submit button">Search</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
<div class="ui container">
  <div class="ui three stackable cards">
    <div class="card" *ngFor="let promotion of promotions">
      <div class="image">
        <img src="{{promotion.image}}">
      </div>
      <div class="content">
        <a class="header">{{promotion.name}}</a>
        <div class="meta">
          <span class="description">{{promotion.description}}</span>
        </div>
      </div>
      <div class="extra content">
        <span class="date">{{promotion.endDate  | date }}</span>
      </div>
    </div>
  </div>
</div>