<div class="ui container">
  <div class="ui middle aligned center aligned grid  app-login-component">
    <div class="column">
      <form class="ui small form">
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" [(ngModel)]="user.email"  placeholder="E-mail address">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" [(ngModel)]="user.password" placeholder="Password">
            </div>
          </div>
          <div class="ui fluid large teal submit button" (click)="submitLogin()">Login</div>
        </div>
        <div class="ui error message"></div>
      </form>
      <div class="ui message">
        <a href="/#/signup">Sign Up</a>
      </div>
    </div>
  </div>